:root {
    --green: #00ff00;
    --white: #fff;
    --black: #000000;
}

*{
    color: var(--fontColor);
    font-family: Helvetica;
}

body {
    background: var(--bg);
}

ul{
    font-family: Helvetica;
}

li{
    list-style: circle;
}

.list {
    list-style: square;
}

.light-theme {
    --bg: var(--green);
    --fontCollor: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
}